/* style for UWCC 2017-2018, David J. Waro */

#mapdiv {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	z-index: -1;
}

#search {
	position: absolute;
	height: 50px;
	width: 250px;
	left: 200px;
	top: 0px;
	z-index: 1;
	background-color: rgb(250, 250, 240);
	border: solid;
	border-color: black;
	border-width: 2px;
	border-top: none;
	border-left: none;
	display: none;
}

.leaflet-google-layer {
  z-index: inherit;
}

#legend {
	position: absolute;
	height: 160px;
	width: 265px;
	left: 0px;
	bottom: 40px;
	background-color: rgba(250, 250, 250, 1);
	border: solid;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-width: 1px;
	border-color: black;
	border-left: none;
	z-index: 10000000000;
	display: none;
}

.legend {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 11px;
	border-radius: 25px;
	display: none;
}

#comm_circle {
	top: 16px;
	background-color: #008ae6;
}

#fin_circle {
	top: 52px;
	background-color: rgb(215, 0, 0);
}
#soc_circle {
	top: 88px;
	background-color: orange;
}
#util_circle {
	top: 124px;
	background-color: #29a329;
}

#labels {
	position: absolute;
	bottom: 47px;
	left: 45px;
	z-index: 10000000001;
	font-size: 14px;
	font-weight: bold;
	line-height: 36.5px;
	display: none;
}

.comIcon {
	background-color: #008ae6;
	border-radius: 20px;
	text-align: center;
	color: white;
	padding-top: 11.45px;
}

div.leaflet-marker-icon.comIcon.leaflet-zoom-animated.leaflet-interactive {
	width: 40px !important;
	height: 40px !important;
}

.finIcon {
	background-color: rgb(215, 0, 0);
	border-radius: 20px;
	text-align: center;
	color: white;
	padding-top: 11.45px;
}

div.leaflet-marker-icon.finIcon.leaflet-zoom-animated.leaflet-interactive {
	width: 40px !important;
	height: 40px !important;
}

.socIcon {
	background-color: orange;
	border-radius: 20px;
	text-align: center;
	color: white;
	padding-top: 11.45px;
}

div.leaflet-marker-icon.socIcon.leaflet-zoom-animated.leaflet-interactive {
	width: 40px !important;
	height: 40px !important;
}

.utilIcon {
	background-color: #29a329;
	border-radius: 20px;
	text-align: center;
	color: white;
	padding-top: 11.45px;
}

div.leaflet-marker-icon.utilIcon.leaflet-zoom-animated.leaflet-interactive {
	width: 40px !important;
	height: 40px !important;
}

.info {
	float: right;
	margin: 2.5px 10px 0px 0px;
	z-index: 100000000000000000000 !important;
	width: 17px;
	height: 17px;
}

#info1 {
	top: 247px;
}

.info:hover {
	cursor: pointer;
}

#info1_text {
	background-color: rgba(250,250,250,1);
	display: none;
	position: absolute;
	top: 260px;
	right: 150px;
	border: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 8px;
	max-width: 450px;
	z-index: 1000000000000000000001 !important;
	padding: 10px;
}

#info2 {
	top: 272px;
}

#info2_text {
	background-color: rgba(250,250,250,1);
	display: none;
	position: absolute;
	top: 285px;
	right: 150px;
	border: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 8px;
	max-width: 450px;
	z-index: 100000000000000000000 !important;
	padding: 10px;
}

.wrapper {
	position: relative;
	width: 130px;
	float: right;
	margin: 0 auto;
}

#controls {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 130px;
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	border-radius: 5px;
	box-sizing: border-box;
	clear: both;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	background-color: rgb(250,250,250);
	z-index: 90000000000000000000 !important;
}

#bar {
	position: absolute;
	width: 130px;
	height: 1px;
	top: 55px;
	left: 0px;
	z-index: 900000000000000000000 !important;
	background-color: rgba(0,0,0,0.15);
}

.filters {
	margin-top: 1.5em;
}

.plus {
	position: absolute;
	z-index: 100000000000000000000 !important;
	width: 12px;
	height: 14px;
	cursor: pointer;
}

#plus1 {
	top: 116px;
	right: 20px;
}

#plus2 {
	top: 140px;
	right: 37px;
}

#plus3 {
	top: 165px;
	right: 53px;
}

#plus4 {
	top: 188px;
	right: 45px;
}

.comm_form {
	position: absolute;
	color: #008ae6;
	top: 137px;
	left: 25px;
}

.fin_form {
	position: absolute;
	color: rgb(215, 0, 0);
	top: 160px;
	left: 25px;
}

.soc_form {
	position: absolute;
	color: orange;
	top: 185px;
	left: 25px;
}

.util_form {
	position: absolute;
	color: #29a329;
	top: 208px;
	left: 25px;
}

/*#master {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}*/
